---
# yamllint disable rule:truthy
version: 2

updates:
  # Maintain dependencies for GitHub Actions
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "monday"
      time: "09:00"
    target-branch: develop
    labels:
      - "type/housekeeping"
      - "ci/skip-changelog"
    groups:
      all:
        patterns:
          - "*"

  # Group all uv updates
  - package-ecosystem: "uv"
    directory: "/"
    schedule:
      interval: "daily"
      time: "12:00"
    target-branch: main
    labels:
      - "type/housekeeping"
      - "ci/skip-changelog"
    groups:
      all:
        patterns:
          - "*"